POSTGRES_DB=stamp_service
POSTGRES_USER=stampservice
POSTGRES_PASSWORD=CHANGE_ME_DATABASE_PASSWORD

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=stamp_service;Username=stampservice;Password=CHANGE_ME_DATABASE_PASSWORD

Jwt__Key=CHANGE_ME_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
Jwt__Issuer=StampService
Jwt__Audience=StampService
Jwt__ExpiresInMinutes=1440

Telegram__BotToken=CHANGE_ME_TELEGRAM_BOT_TOKEN
Telegram__BotUsername=CHANGE_ME_BOT_USERNAME_WITHOUT_AT
Telegram__AuthDataMaxAgeMinutes=1440
Bot__Token=CHANGE_ME_TELEGRAM_BOT_TOKEN
Bot__Mode=POLLING

Admin__TelegramUserIds__0=278225388

StartupNotifications__Enabled=true
StartupNotifications__WebInterfaceUrl=https://example.com/login
StartupNotifications__SeqUrl=http://127.0.0.1:5441

RewardDigest__Enabled=true
RewardDigest__MessageToUserIntervalMinutes=10080
RewardDigest__ScanIntervalMinutes=60
RewardDigest__BatchSize=100
RewardDigest__MaxBrandsPerMessage=5
RewardDigest__MaxRewardsPerBrand=3

Serilog__WriteTo__1__Args__serverUrl=http://seq
AllowedHosts=*

SEQ_FIRSTRUN_ADMINPASSWORD=CHANGE_ME_SEQ_ADMIN_PASSWORD
FRONTEND_HTTP_PORT=80
SEQ_HTTP_PORT=5441
